<div class="services-content ">
  <div class="services-list" >
    <div  class="service-component"  >
      <app-enterprice-solutions-card title="EnterpriseApplications"
        info="Enterprise application development focuses on creating robust, scalable software solutions tailored to meet the complex needs of large organizations, ensuring seamless integration and security."
        [cardListItems]="['Highly Scalable', 'Maintanace', 'Frequent Updates']"></app-enterprice-solutions-card>
    </div>
    <div class="service-component">
      <app-enterprice-solutions-card title="Hosting"
        info="Web hosting provides the necessary infrastructure and services to make websites accessible on the internet, allowing individuals and businesses to store and share their online content worldwide."
        [cardListItems]="['Secure', 'Reliable', 'Fast','Scalable']"></app-enterprice-solutions-card>
    </div>
    <div class="service-component">
      <app-enterprice-solutions-card title="MaintenanceandUpdates"
        info="our software company excels in the art of maintaining and updating applications, ensuring your digital solutions remain cutting-edge and hassle-free."
        [cardListItems]="['Security Patching', 'Optimize Performance', 'Feature Enhancements','Database Maintenance']"></app-enterprice-solutions-card>
    </div>
  </div>
 
</div>

