
<div class="container">
    <div class="row hosting ">
        
        <div class="col image-grid " >

           <div style="display: block;"><h2   >Hosting</h2>
            <p>
                Web hosting provides the necessary infrastructure and services to make websites accessible on the internet, allowing individuals and businesses to store and share their online content worldwide.
            </p></div>
               
        </div>
        
        <div class="col image-grid"  >
            <div  >
                <div class="fade-in-from-left"  >
                    <img src="/assets/Servers-800-600.jpg" alt="" class="img-src">
                   </div>
            </div>
            <div class="show-hosting"></div>
        </div>
        
    </div>
    
</div>

