<nav class="topnav">
    <div class="logo">
        DEEPCODE 
    </div>
    <ul class="topnav-ul">
        <li class="topnav-item">
            <a href="home" class="topnav-item">Home</a>
        </li>
        <li class="topnav-item">
            <a href="home" class="topnav-item">Services</a>
        </li>
        <li class="topnav-item">
            <a href="home" class="topnav-item">Contact</a>
        </li>
        <li class="topnav-item">
            <a href="home" class="topnav-item">About</a>
        </li>
    </ul>
    <div class="topnav-btn">
        <a href="GetStarted" class="nav-btn-item">Get Started</a>
    </div>
    <div  class="topnav-toggle-btn">
        <i class="fa-solid fa-bars"></i>
    </div>
</nav>


