<div class="">
  <app-topnav></app-topnav>

</div>



<div class="main ">
  <div class="full-page" style="background-color: #331C7A; min-height: 100vh;">

    <div class="container">
      <app-welcome-slogan-typewriter></app-welcome-slogan-typewriter>
    </div>
  </div>

  <div class=" full-page">
    <app-application-development></app-application-development>
  </div>

  <div class=" full-page">
    <app-hosting></app-hosting>
  </div>


  <!-- <div  class="full-page container">
    <app-services-page></app-services-page>
  </div>
  <div  class="full-page">
    <h1>Test</h1>
  </div> -->

</div>